body {
  margin: 0px 50px 0px 50px;
  background-color: rgb(216, 207, 196);
  max-width: 100%;
  font-size: 15px;
  font-family: Verdana;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* navbar css */
.navbar {
  width: 100%;
  border-bottom: 1px solid black;
  /* overflow: auto; */
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;

}

.active {
  background-color: aliceblue;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* dropdown menu  */
.dropbtn {
  padding: 20px;
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon {
  width: 40px;
  height: 40px;
  display: block;
}

.rounded-button{ 
  padding: 10px;
  border-radius: 15px;
  background-color: transparent;
}